ul.navigation {
  background-color: rgb(63,64,63);
  display: block;
  list-style: none;
  margin-top: 5;
  width: 100%;
  height: 40px;
  padding: 10px;
}
ul.navigation li {
  display: inline-block;
  float: left;
}
ul.navigation a {
  color: rgb(230,232,230);
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  font-family: sans-serif;
}
ul.navigation a:hover {
  background-color: rgb(230,232,230);
  color: black;
}

a:link {
  color: rgb(66, 82, 209);
}
a:visited {
  color: rgb(125, 75, 163);
}
a:hover {
  color: rgb(239, 237, 47);
}
a:active {
  color: rgb(0,0,255);
}


Body {
  background-attachment: fixed;
  /* background-image: url(splash.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-image {
  background-attachment: fixed;
  background-image: url(splash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}
p em {
  background-color: rgb(255,0.0);
}
p {
background-color: rgb(159,184,173);

font-family:'Verdana','Arial', sans-serif;
font-size: 14px;
padding-top: 20px;
padding-left: 10px;
padding-bottom: 20px;
padding-right: 10px;
border: 1px solid rgb(59, 107, 91);
margin-top: 5px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 5px;

}

img {
  height: 350px;
}

body {
  background-color: rgb(206,208,206);
}

#title {
  font-size: 50px;
  color: white;
  background-color: rgb(63,64,63);
  text-align: center;
  font-family: sans-serif;
}
.effect {
    color: rgb(63,64,63);
}
.quotation {
    font-family: sans-serif;
    color: rgb(63,64,63);
}
